.footer {
    padding: 10px 20%;
}
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 20px;
}
.footer-copyright p {
    text-align: center;
}